
body {
  background-color: #f5f0e6; /* licht beige */

}

/* Header & footer */

header {
    background-color: #950997;
    color: white;
    padding: 40px 20px;
    text-align: center;

}
header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 8px;
  background-color: white;
  color: #950997;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #7a077c;
  color: white;
}
.btn {
  font-family: 'Montserrat', sans-serif;
}
/* sectie1 */


.content1 {
  background-color: white;
  text-align: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
}

/* Titel "Wie ben ik" */

.content1 h2 {
  font-family: 'Montserrat', sans-serif;
}

/* Paragraaf tekst */

.content1 p {
  font-family: 'Cormorant', serif;
  font-size: 1.2rem;
  line-height: 1.6;
}
/* contactformulier*/
.contact-form {
  max-width: 400px;
  margin: 30px auto 0 auto; /* centreert in de sectie */
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: 'Cormorant', serif;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #950997;   /* paars */
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
/* Grotere tekst in contactformulier */
.contact-form input,
.contact-form textarea {
  font-size: 1.2rem;   /* tekst die je typt */
  padding: 14px;
}

/* Grotere placeholder tekst */
.contact-form ::placeholder {
  font-size: 1.2rem;
}

.contact-form button:hover {
  background-color: #49054a;   /* donkerder paars */
  color: white;
}

/* Paarse focus-rand bij typen/selecteren */
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  outline: none;
  border: 2px solid #b085b0;
}

/* Schaduw op verzendknop */
.contact-form button {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Iets meer effect bij hover */
.contact-form button:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

/* Tabel */
table {
    margin: 30px auto;
    border-collapse: collapse;
  background-color: #b085b0;
   color: #ffffff;
}


td {
    width: 150px;
    height: 75px;
    border: 1px solid #000;
  background-color: transparent;
  color: #ffffff;
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  text-align: center;
}
